div.layerType2 {
  position: absolute;
  width: 400px;
  padding: 0px;
  margin: 0;
  border: 5px solid #c0c0c0;
  background-color: #f3f3f3;
  z-index: 9999;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
}

a.pointer {
  cursor: pointer;
  text-decoration: none;
}

table.row2 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.layerType2 > dl dd table.row2 > tbody > tr > th {
  background: #bbc2cd;
}

div.layerType2 > dl dd {
  padding: 40px !important;
}
